# Dependencies

In [5]:
import pandas as pd
from src.preprocessing import clean_ak, clean_en

ModuleNotFoundError: No module named 'src'

# Exploration

In [3]:
df = pd.read_csv("../data/raw/twi_dict.csv")
df.head()

    english        pos                                    twi
0  hopeless  ADJECTIVE  anidasoɔ nni mu; deɛ anidasoɔ nni mu
1   horizon       NOUN                 ewiem ne asase ahyiaeɛ
2      horn       NOUN                          abɛn; abebɛn
3    horror       NOUN                                    ehu
4  horrible  ADJECTIVE                     ɛyɛ hu; deɛ ɛyɛ hu

In [4]:
df['twi'] = df['twi'].apply(clean_ak)
df['english'] = df['english'].apply(clean_en)

NameError: name 'clean_ak' is not defined