# Dependencies

In [1]:
import pandas as pd
import numpy as np

# Exploration

In [2]:
df = pd.read_csv("../data/raw/verified_data.csv")
df.head()

,English,Akuapem Twi
0,What she lacks in charisma she makes up for wi...,Nea onni ho adwempa no de adwumaden na ɛba.
1,There was nothing I could do about it.,Na biribiara nni hɛ a metumi ayɔ
2,Kwaku saw John and Abena holding hands.,Kwaku hui se John ne Abena kurakura wɛn nsa.
3,Can you stay till 2:30?,So wubetumi atena ha akosi nnɛnmienu npaamu ad...
4,You haven't got much time.,Wonni mmre

In [3]:
df.describe()

                                               English       Akuapem Twi
count                                            25420             25420
unique                                           25139             24764
top     There are lots of things I want to talk about.  Me ho dwiriw me.
freq                                                 2                 7

In [5]:
twi_corpus = df["Akuapem Twi"].dropna()

In [6]:
twi_corpus.to_csv("twi_corpus.txt", index=False, header=False)